html {
  overflow-y:scroll;
}
body {
  background-color: #DDD;
  font-family: Arial;
  font-size: 10pt;
  margin: 0;
  min-width: 950px;
  padding: 0;
}
.no-js .my-dialog, .no-js #trash img {
  display: none;
}
.no-js #trash {
  background-color: rgba(255, 200, 200, 0.5);
  left: 0;
  width: 100%;
  opacity: 1;
}
.no-js #trash::after {
  content: 'Sorry, CourseRoad requires Javascript enabled to work :(';
  font-size: 26pt;
  font-weight: bold;
  left: 0;
  position: relative;
  top: 50%;
}
.ui-dialog-titlebar {
  display: none;
}
.my-dialog {
  border: 5px solid #444;
  border-radius: 12px;
  height: auto;
  min-height: 146px;
  width: auto;
}
.my-dialog-header {
  margin: 0;
  padding: 5px;
}
.my-dialog-close {
  float:right;
  margin: 0;
  padding: 5px;
}
.ui-resizable-handle {
  display: none !important;
}
#savedroads {
  height: 400px;
  overflow-y: scroll;
  padding: 5px;
}
#savedroads td {
  padding-bottom: 4px;
  text-align: center;
}
.saved-roads-hash, .saved-roads-comment {
  display: inline-block;
  max-width: 100px;
  word-wrap: break-word;
}
.saved-roads-edit-hash, .saved-roads-edit-comment, .deleteroad {
  display: inline-block;
}
span.newload {
  color: grey;
}
.ui-widget-overlay {
  background-color: #BBB;
  filter: alpha(opacity=40);
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
}
#accordion {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.ui-accordion-header {
  background-color: #DDD;
  border: 2px solid #B8B8B8;
  border-radius: 6px;
  margin: 0;
  padding: 5px;
}
.ui-accordion-header a {
  color: black;
  text-decoration: none;
}
.ui-accordion-content {
  padding: 5px;
}
#usersettings_div {
  padding: 0px 10px;
}
#usersettings_class_year {
  width: 30px;
}
#usersettings_save {
  margin-left: 10px;
}
#usersettings_saved {
  display: none;
  padding-left: 5px;
}
#leftbar {
  background-color: #A0A0A0;
  border-right: 1px solid;
  height: 100%;
  min-height: 350px;
  position: fixed;
  width: 250px;
  z-index: 6;
}
#leftbar>div {
  left: 4px;
  position: absolute;
}
#getnewclass {
  text-align: center;
  width: calc(100% - 2 * 4px) !important;
}
#getnewclass > div {
  height: 92px;
  text-align: center;
}

.ui-tabs .ui-helper-hidden { display: none; }
.ui-tabs .ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-tabs .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-tabs .ui-helper-clearfix:before, .ui-tabs .ui-helper-clearfix:after { content: ""; display: table; }
.ui-tabs .ui-helper-clearfix:after { clear: both; }
.ui-tabs .ui-helper-clearfix { zoom: 1; }
.ui-tabs .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

.ui-tabs { position: relative; zoom: 1; }
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; display: inline-block; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; width: 30%;}
.ui-tabs .ui-tabs-nav li a { display: inline-block; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: default; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }
.ui-tabs .ui-tabs-panel { padding: 5px; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.ui-tabs .ui-widget-content, .ui-tabs .ui-widget-content a, .ui-tabs .ui-widget-header a { color: #222222; }

.ui-tabs .ui-state-default, .ui-tabs .ui-widget-content .ui-state-default, .ui-tabs .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3; background-color: #e6e6e6; font-weight: normal; color: #555555; }
.ui-tabs .ui-state-default a, .ui-tabs .ui-state-default a:link, .ui-tabs .ui-state-default a:visited { color: #555555; text-decoration: none; }
.ui-tabs .ui-state-hover, .ui-tabs .ui-widget-content .ui-state-hover, .ui-tabs .ui-widget-header .ui-state-hover, .ui-tabs .ui-state-focus, .ui-tabs .ui-widget-content .ui-state-focus, .ui-tabs .ui-widget-header .ui-state-focus { border: 1px solid #999999; background-color: #dadada; font-weight: normal; color: #212121; }
.ui-tabs .ui-state-hover a, .ui-tabs .ui-state-hover a:hover { color: #212121; text-decoration: none; }
.ui-tabs .ui-state-active, .ui-tabs .ui-widget-content .ui-state-active, .ui-tabs .ui-widget-header .ui-state-active { font-weight: normal; color: #212121; }
.ui-tabs .ui-state-active a, .ui-tabs .ui-state-active a:link, .ui-tabs .ui-state-active a:visited { color: #212121; text-decoration: none; }
.ui-tabs .ui-widget :active { outline: none; }

.ui-tabs.ui-corner-all, .ui-tabs .ui-corner-all, .ui-tabs .ui-corner-top, .ui-tabs .ui-corner-left, .ui-tabs .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-tabs.ui-corner-all, .ui-tabs .ui-corner-all, .ui-tabs .ui-corner-top, .ui-tabs .ui-corner-right, .ui-tabs .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-tabs.ui-corner-all, .ui-tabs .ui-corner-all, .ui-tabs .ui-corner-bottom, .ui-tabs .ui-corner-left, .ui-tabs .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-tabs.ui-corner-all, .ui-tabs .ui-corner-all, .ui-tabs .ui-corner-bottom, .ui-tabs .ui-corner-right, .ui-tabs .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

.ui-button { display: inline-block; position: relative; padding: 0; margin: -3px -1px -5px; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */

/* Icons ----------------------------------*/

button.changeclassterm span{ display: block; }

.ui-icon { width: 16px; height: 16px; background-image: url(/images/ui-icons.png); }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }

.infotabs-about-header{ font-size: 14pt !important; }
.infotabs-about-subheader{ font-size: 8pt !important; padding-bottom: 5px; }
#userlogin, #showusersettings{ margin-top: 5px; }

#getnewclassid {
  width: 60px;
}
#getnewclassname {
  width: 100px;
}
#getnewclassunits {
  text-align: center;
  width: 16px;
}
.getnewclasstypes {
  display: none;
}
.getnewclasstypes.visible {
  display: inline-block !important;
}
#getnewclassterm {
  width: 150px;
}
.ui-autocomplete {
  background-color: #FFF;
  border: 1px solid #AAA;
  list-style: none;
  padding-left: 0px;
  position: absolute;
  top: 10px;
  width: 59px;
}
.ui-menu-item {
  text-align: left;
  width: 100%;
}
.ui-state-hover {
  background-color: #D8D8D8;
  cursor: pointer;
  display: block;
}

.leftbarholder, .ui-tabs .ui-state-active {
  background-color: #E0E0E0 !important;
  border: 1px solid #5E5E5E !important;
}

#COREchecker {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  bottom: 210px;
  overflow-y: auto;
  padding: 2px;
  top: 142px;
  width: calc(100% - 2 * 7px);
}
.unhighlight #COREchecker {
  bottom: 30px;
}
select.majorminor {
  width: 200px;
}
div.majorminor > ul {
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
}
div.majorminor ul {
  list-style: none;
}
div.majorminor li li {
  margin-left: -20px;
}
.checkbox1 span, span.corecheck span {
  filter: alpha(opacity=0);
  opacity: 0;
}
.checkbox1.chk span, span.corecheck.used span {
  filter: alpha(opacity=100) !important;
  opacity: 1 !important;
}
.checkbox1_text.ui-draggable-dragging:before {
  content: "Add ";
}
.checkbox1_text.ui-draggable-dragging {
  font-size: 12pt;
}
.checkbox1_text.ui-draggable-dragging:after {
  content: " to " attr(data-term);
}
#overrider {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  bottom: 185px;
  padding-left: 2px;
  width: calc(100% - 2 * 6px);
}
.unhighlight #overrider {
  border-radius: 4px;
  bottom: 4px;
}
.unhighlight #overrider:after {
  content: 'Click on a class to see more info.';
  font-style: italic;
  left: 2px;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 100%;
}
#overrider span {
  filter: alpha(opacity=0);
  opacity: 0;
}
#nowreading {
  border-bottom-left-radius: 4px;
  bottom: 4px;
  height: 180px;
  overflow-y: auto;
  padding-left: 2px;
  width: calc(100% - 2 * 6px);
}
.unhighlight #nowreading {
  display: none;
}
#nowreading p {
  display: inline;
}
#nowreading p.infounits {
  font-style: italic;
}
#nowreading a {
  text-decoration: none;
}
#rightbar {
  background-color: #FDFDFD;
  height: 100%;
  margin-left: 251px;
  width: auto;
}
.year {
  border-top: 10px solid #444;
  height: auto;
  width: 100%;
}
.year:nth-child(even) {
  background-color: #EEE;
}
.supersenior.hidden {
  display: none;
}
.yearname {
  font-size: 20px;
  font-variant: small-caps;
  overflow: hidden;
  position: absolute;
  width: 285px;
}
.yearname.showsummer {
  width: 485px;
}
.yearname span {
  cursor: default;
  display: inline-block;
  margin-top: 100%;
  text-align: center;
  width: 285px;
  -webkit-transform-origin: top left;
  -webkit-transform: rotate(-90deg);
  -moz-transform-origin: top left;
  -moz-transform: rotate(-90deg);
  -ms-transform-origin: top left;
  -ms-transform: rotate(-90deg);
  -o-transform-origin: top left;
  -o-transform: rotate(-90deg);
}
.yearname.showsummer span {
  width: 485px;
}
.term {
  height: auto;
  margin-left: 25px;
  min-height: 59px;
  padding: 20px;
  text-align: center;
  width: auto;
}
.term.notOKterm {
  background-color: #EEE !important;
  filter: alpha(opacity=55);
  opacity: 0.55;

}
.year:nth-child(odd) .term.notOKterm {
  background-color: #FDFDFD !important;
}
.termname {
  font-size: 17px;
  font-variant: small-caps;
  margin-left: -20px;
  position: absolute;
  width: 59px;
}
.termname span {
  cursor: default;
  display: inline-block;
  margin-top: 100%;
  text-align: center;
  width: 59px;
  -webkit-transform-origin: top left;
  -webkit-transform: rotate(-90deg);
  -moz-transform-origin: top left;
  -moz-transform: rotate(-90deg);
  -ms-transform-origin: top left;
  -ms-transform: rotate(-90deg);
  -o-transform-origin: top left;
  -o-transform: rotate(-90deg);
}
.termname span a {
  color: #000;
  text-decoration: none;
}
.credit {
  background-color: #7A7A7A;
  margin-left: 0;
  min-height: 45px;
  padding-left: 45px;
}
.credit .termname {
  margin-left: -40px;
  width: 45px;
}
.credit .termname span {
  width: 45px;
}
.fall {
  background-color: #FEB;
}
.iap {
  background-color: #E8F9FF;
  border-top: 1px dotted #888;
  min-height: 45px;
}
.iap .termname, .iap .termname span {
  width: 45px;
}
.spring {
  background-color: #DFD;
  border-top: 1px dotted #888;
}
.summer {
  background-color: #FFFFAE;
  border-top: 1px dotted #888;
  display: none;
  height: 45px;
}
.summer .termname {
  display: none;
  width: 45px;
}
.summer .termname span {
  width: 45px;
}
.bubble {
  background-color: #EEE;
  border: 2px solid #B8B8B8;
  border-radius: 6px;
}
.loaders:active {
  background-color: #DDD;
}
.classdiv {
  background-color: #FCC;
  display: inline-block;
  filter: alpha(opacity=95);
  margin: 0px 10px 10px;
  min-height: 3em;
  opacity: 0.95;
  position: relative;
  text-align: left;
  width: 130px;
  z-index: 5;
}
.classdivgood {
  background-color: #CFC;
}
.custom {
  background-color: #B2B2FF;
}
.classdivlow {
  filter: alpha(opacity=60);
  opacity: 0.6;
}
.classdivhigh {
  border: 4px solid #FAF;
  margin: -2px 8px 8px;
}
.classdivoverride {
  border-style: dotted;
}
div.WireIt-Terminal {
  cursor: default;
  height: 1px;
  filter: alpha(opacity=0);
  margin-left: 52px;
  margin-top: -33px;
  opacity: 0;
  position: absolute;
  width: 1px;
}
.WireIt-Wire {
  border: 0;
  filter: alpha(opacity=70);
  opacity: 0.7;
  position: absolute;
  z-index: 0;
}
.WireIt-Wire-low {
  filter: alpha(opacity=10);
  opacity: 0.1;
}
body.no-wires .WireIt-Wire {
  display: none !important;
}
.classdivlabel {
  border-bottom: 1px solid #CCC;
  cursor: default;
  padding: 2px;
  white-space: nowrap;
}
.classdivterminal {
  position: absolute;
}
.classdivcourse {
  float: left;
  font-weight: bold;
}
.classdivtitle {
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom .classdivtitle {
  text-align: center;
}
.classdivinfo {
  font-size: 8pt;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.classdivinfo div {
  padding: 4px 0px 4px;
}
.classdivyear {
  border-right: 1px solid #CCC;
  float: left;
  width: 30%;
}
.classdivyear select {
  font-size: 8pt;
  margin: -3px;
}

.doge {
  background-image: url(https://i.imgur.com/MebfQnj.jpg);
  background-size: contain;
}

.doge > *  {
  opacity: 0.65;
}

.ui-sortable-placeholder  {
  background-color: #EEE;
  border: 1px dotted black;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  display: inline-block;
  filter: alpha(opacity=30);
  margin: 0px 12px -6px;
  min-height: 3em !important;
  opacity: 0.3;
  text-align: left;
  visibility: visible !important;
  width: 130px !important;
}
.ui-sortable-placeholder *  {
  visibility: hidden;
}

#trash {
  background-color: #DDD;
  height: 100%;
  float: right;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 10;
}
.trashdefault {
  height: 100%;
  filter: alpha(opacity=0);
  opacity: 0.0;
  right: -40px;
  width: 40px;
}
.trashon {
  filter: alpha(opacity=70);
  opacity: 0.7;
  right: 0px;
}
.trashhover {
  filter: alpha(opacity=100);
  opacity: 1;
  width: 80px;
}
.trashdefault>* {
  height: 40px;
  left: 0px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width:40px;
}
img.trashhover,svg.trashhover {
  height: 80px;
  margin-top: -40px;
  width: 80px;
}
#loading {
  border-radius: 12px;
  display: none;
  filter: alpha(opacity=70);
  left: 50%;
  opacity: 0.7;
  position: fixed;
  text-align: center;
  top: 30%;
  width: 200px;
  z-index: 10;
}
.flakyCSS {
  margin: 1px !important;
}

/*** Print CSS ***/
@media print {
  @page{ margin: 0.5cm; }
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  body{ border: 1px solid black !important; }
  #leftbar{ position: absolute !important; }
  #leftbar>div{ position: absolute !important; }
  #getnewclass, #overrider, #nowreading, .WireIt-Wire, span.majorminor[data-empty], select.majorminor, span.letmeknow, .noprint{ display: none !important; }
  #COREchecker{ display: block !important; height: auto !important; top: 0 !important; bottom: 0 !important; border: none !important; }
  .checkbox1[title]:after{ content: " (" attr(title) ") "; }
  span.majorminor[data-value]:after{ content: attr(data-value); font-weight: bold; }
  .term:not(.credit){ border-left: 1px solid black !important; }
  .term.credit{ border-bottom: 5px solid #444 !important; }
  .year{ page-break-inside: avoid; border-top: 5px solid #444 !important; border-bottom: 5px solid #444 !important; }
  .classdiv[title]:after{ content: "[" attr(title) "]"; font-size: 6pt; text-align: center; position: absolute; padding-top: 2px;}
}
/*** End Print CSS ***/

/*** Begin Mobile CSS ***/
@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  #leftbar{ position: absolute; }
}
/*** End Mobile CSS ***/
