.yearname{
	width: auto;
	margin-top: 95px;
	margin-left: 0px;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.termname{
	width: auto;
	margin-top: 40px;
	margin-left: -20px;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}