html{
	overflow-y:scroll;
}
body{
	font-family: Arial;
	font-size: 10pt;
	background-color: #ddd;
	margin: 0;
	padding: 0;
	min-width: 950px;
}
.ui-dialog-titlebar{
	display: none;
}
.my-dialog{
	width: auto;
	min-height: 146px;
	height: auto;
	border: 5px solid #444;
	border-radius: 12px;
}
.my-dialog-header{
	margin: 0;
	padding: 5px;
}
.my-dialog-close{
	float:right;
	margin: 0;
	padding: 5px;
}
#savedroads{
	height: 400px;
	overflow-y: scroll;
	padding: 5px;
}
#savedroads td{
	padding-bottom: 4px;
	text-align: center;
}
.ui-widget-overlay{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #BBB;
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.ui-accordion-header{
	background-color: #ddd;
	padding: 5px;
	margin: 0;
	border: 2px solid #B8B8B8;
	border-radius: 6px;
	-webkit-border-radius: 6px;
}
.ui-accordion-header a{
	text-decoration: none;
	color: black;
}
.ui-accordion-content{
	padding: 5px;
}
#leftbar{
	position: fixed;
	height: 100%;
	width: 250px;
	z-index: 6;
	border-right: 1px solid;
	background-color: #A0A0A0;
	min-height: 350px;
}
#leftbar>div{
	left: 4px;
	position: absolute;
}
#getnewclass{
	text-align: center;
	width: 242px !important;
}
#getnewclass > div{
	height: 92px;
	text-align: center;
}

.ui-tabs .ui-helper-hidden { display: none; }
.ui-tabs .ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-tabs .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-tabs .ui-helper-clearfix:before, .ui-tabs .ui-helper-clearfix:after { content: ""; display: table; }
.ui-tabs .ui-helper-clearfix:after { clear: both; }
.ui-tabs .ui-helper-clearfix { zoom: 1; }
.ui-tabs .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

.ui-tabs { position: relative; zoom: 1; }
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; display: inline-block; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; width: 30%;}
.ui-tabs .ui-tabs-nav li a { display: inline-block; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: default; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }
.ui-tabs .ui-tabs-panel { padding: 5px; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.ui-tabs .ui-widget-content, .ui-tabs .ui-widget-content a, .ui-tabs .ui-widget-header a { color: #222222; }

.ui-tabs .ui-state-default, .ui-tabs .ui-widget-content .ui-state-default, .ui-tabs .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3; background-color: #e6e6e6; font-weight: normal; color: #555555; }
.ui-tabs .ui-state-default a, .ui-tabs .ui-state-default a:link, .ui-tabs .ui-state-default a:visited { color: #555555; text-decoration: none; }
.ui-tabs .ui-state-hover, .ui-tabs .ui-widget-content .ui-state-hover, .ui-tabs .ui-widget-header .ui-state-hover, .ui-tabs .ui-state-focus, .ui-tabs .ui-widget-content .ui-state-focus, .ui-tabs .ui-widget-header .ui-state-focus { border: 1px solid #999999; background-color: #dadada; font-weight: normal; color: #212121; }
.ui-tabs .ui-state-hover a, .ui-tabs .ui-state-hover a:hover { color: #212121; text-decoration: none; }
.ui-tabs .ui-state-active, .ui-tabs .ui-widget-content .ui-state-active, .ui-tabs .ui-widget-header .ui-state-active { font-weight: normal; color: #212121; }
.ui-tabs .ui-state-active a, .ui-tabs .ui-state-active a:link, .ui-tabs .ui-state-active a:visited { color: #212121; text-decoration: none; }
.ui-tabs .ui-widget :active { outline: none; }

.ui-tabs.ui-corner-all, .ui-tabs .ui-corner-all, .ui-tabs .ui-corner-top, .ui-tabs .ui-corner-left, .ui-tabs .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-tabs.ui-corner-all, .ui-tabs .ui-corner-all, .ui-tabs .ui-corner-top, .ui-tabs .ui-corner-right, .ui-tabs .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-tabs.ui-corner-all, .ui-tabs .ui-corner-all, .ui-tabs .ui-corner-bottom, .ui-tabs .ui-corner-left, .ui-tabs .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-tabs.ui-corner-all, .ui-tabs .ui-corner-all, .ui-tabs .ui-corner-bottom, .ui-tabs .ui-corner-right, .ui-tabs .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

.infotabs-about-header{ font-size: 14pt !important; }
.infotabs-about-subheader{ font-size: 8pt !important; padding-bottom: 5px; }
#loginORusersettings{ margin-top: 5px; }

#getnewclassid{
	width: 60px;
}
#getnewclassname{
	width: 100px;
}
#getnewclassunits{
	width: 25px;
	text-align: center;
}
.getnewclasstypes{
	display: none;
}
.getnewclasstypes.visible{
	display: inline-block !important;
}

.ui-autocomplete{
	list-style: none;
	background-color: #FFF;
	border: 1px solid #AAA;
	padding-left: 0px;
	width: 59px;
	position: absolute;
	top: 10px;
}
.ui-menu-item{
	width: 100%;
	text-align: left;
}
.ui-state-hover{
	background-color: #D8D8D8;
	display: block;
	cursor: pointer;
}

.leftbarholder, .ui-tabs .ui-state-active{
	border: 1px solid #5E5E5E !important;
	background-color: #E0E0E0 !important;
}

#COREchecker{
	overflow-y: auto;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	top: 142px;
	bottom: 144px;
	padding: 2px;
	width: 236px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#COREchecker{ top: 139px !important; }
}
select.majorminor{
	width: 200px;
}
div.majorminor>ul{
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
}
div.majorminor ul{
	list-style: none;
}
#overrider{
	bottom: 120px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	width: 238px;
	padding-left: 2px;
}
#overrider span{
	filter: alpha(opacity=0);
	opacity: 0;
}
#nowreading{
	bottom: 4px;
	width: 238px;
	height: 115px;
	overflow-y: auto;
	border-bottom-left-radius: 4px;
	padding-left: 2px;
}
#nowreading p{
	display: inline;
}
#nowreading p.infounits{
	font-style: italic;
}
#nowreading a{
	text-decoration: none;
}
#rightbar{
	background-color: #FDFDFD;
	height: 100%;
	width: auto;
	margin-left: 251px;
}
.year{
	width: 100%;
	height: auto;
	//border-top: 1px dashed #444;
	border-top: 10px solid #444;
}
.year:nth-child(even){
	background-color: #eee;
}
.supersenior.hidden{
	display: none;
}
.yearname{
	position: absolute;
	font-variant: small-caps;
	font-size: 20px;
	width: 399px;
	height: 399px;
	overflow: hidden;
}
.yearname.showsummer{
	width: 485px;
	height: 485px;
}
.yearname span{
	display: inline-block;
	width: 399px;
	margin-top: 100%;
	cursor: default;
	text-align: center;
	-webkit-transform-origin: top left;
	-webkit-transform: rotate(-90deg);
	-moz-transform-origin: top left;
	-moz-transform: rotate(-90deg);
	-ms-transform-origin: top left;
	-ms-transform: rotate(-90deg);
	-o-transform-origin: top left;
	-o-transform: rotate(-90deg);
}
.yearname.showsummer span{
	width: 485px;
}
.term{
	width: auto;
	height: 116px;
	margin-left: 25px;
	padding: 20px;
	text-align: center;
}
.termname{
	position: absolute;
	width: 116px;
	margin-left: -20px;
	font-variant: small-caps;
	font-size: 17px;
}
.termname span{
	display: inline-block;
	width: 116px;
	margin-top: 100%;
	cursor: default;
	text-align: center;
	-webkit-transform-origin: top left;
	-webkit-transform: rotate(-90deg);
	-moz-transform-origin: top left;
	-moz-transform: rotate(-90deg);
	-ms-transform-origin: top left;
	-ms-transform: rotate(-90deg);
	-o-transform-origin: top left;
	-o-transform: rotate(-90deg);
}
.credit{
	height: 45px;
	margin-left: 0;
	background-color: #7A7A7A;
	padding-left: 45px;
}
.credit .termname{
	width: 45px;
	margin-left: -40px;
}
.credit .termname span{
	width: 45px;
}
.fall{
	background-color: #feb;
}
.iap{
	background-color: #E8F9FF;
	height: 45px;
	border-top: 1px dotted #888;
}
.iap .termname, .iap .termname span{
	width: 45px;
}
.spring{
	background-color: #dfd;
	border-top: 1px dotted #888;
}
.summer{
	display: none;
	background-color: #FFFFAE;
	height: 45px;
	border-top: 1px dotted #888;
}
.summer .termname{ 
	display: none;
	width: 45px;
}
.summer .termname span{
	width: 45px;
}
.bubble{
	background-color: #EEE;
	border: 2px solid #B8B8B8;
	border-radius: 6px;
}
.loaders:active{
	background-color: #DDD;
}
.classdiv{
	width: 130px;
	//float: left;
	position: relative;
	margin: 0px 10px 10px;
	min-height: 3em;
	display: inline-block;
	text-align: left;
	z-index: 5;
	filter: alpha(opacity=95);
	opacity: 0.95;
	background-color: #FCC;
}
.classdivgood{
	background-color: #CFC;
}
.custom{
	//background-color: #CCF;
	background-color: #B2B2FF;
}
.classdivlow{
	filter: alpha(opacity=60);
	opacity: 0.6;
}
.classdivhigh{
	border: 4px solid #FAF;
	margin: -2px 8px 8px;
}
.classdivoverride{
	border-style: dotted;
}
div.WireIt-Terminal{
	position: absolute;
	margin-left: 52px;
	margin-top: -33px;
	filter: alpha(opacity=0);
	opacity: 0;
	width: 1px;
	height: 1px;
	pointer: default;
}
.WireIt-Wire{
	position: absolute;
	border: 0;
	z-index: 0;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.WireIt-Wire-low{
	filter: alpha(opacity=10);
	opacity: 0.1;
}
.classdivlabel{
	white-space: nowrap;
	padding: 2px;
	cursor: default;
	border-bottom: 1px solid #CCC;
}
.classdivterminal{
	position: absolute;
}
.classdivcourse{
	float: left;
	font-weight: bold;
}
.classdivtitle{
	overflow: hidden;
	text-overflow: ellipsis;
}
.custom .classdivtitle{
	text-align: center;
}
.classdivinfo{
	font-size: 8pt;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.classdivinfo div{
	padding: 4px 0px 4px;
}
.classdivyear{
	float: left;
	width: 30%;
	border-right: 1px solid #CCC;
}
.classdivyear select{
	font-size: 8pt;
	margin: -3px;
}

.ui-sortable-placeholder { 
	border: 1px dotted black; 
	border-radius: 6px;
	margin: 0px 12px -6px;
	-webkit-border-radius: 6px;
	background-color: #EEE;
	filter: alpha(opacity=30);
	opacity: 0.3;
	visibility: visible !important; 
	min-height: 3em !important; 
	width: 130px !important;
	//float: left;
	display: inline-block;
	text-align: left;
}
.ui-sortable-placeholder * { 
	visibility: hidden; 
}

#trash{
	position: fixed;
	top: 0;
	height: 100%;
	background-color: #ddd;
	text-align: center;
	z-index: 10;
	float: right;
}
.trashdefault{
	right: -40px;
	width: 40px;
	height: 100%;
	filter: alpha(opacity=0);
	opacity: 0.0;
}
.trashon{
	right: 0px;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.trashhover{
	width: 80px;
	filter: alpha(opacity=100);
	opacity: 1;
}
.trashdefault img{
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: -20px;
	width:40px;
	height:	40px;
}
img.trashhover{
	margin-top: -40px;
	width: 80px;
	height: 80px;
}
#loading{
	display: none;
	position: fixed;
	top: 30%;
	left: 50%;
	width: 200px;
	filter: alpha(opacity=70);
	opacity: 0.7;
	text-align: center;
	border-radius: 12px;
	z-index: 10;
}
.flakyCSS{
	margin: 1px !important;
}
/*** Print CSS ***/
@media print{
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	body{ border: 1px solid black !important; }
	#leftbar{ position: absolute !important; }
	#leftbar>div{ position: initial !important; }
	#getnewclass, #overrider, #nowreading, .WireIt-Wire, span.majorminor[data-empty], select.majorminor{ display: none !important; }
	#COREchecker{ display: block !important; height: auto !important; top: 0 !important; bottom: 0 !important; border: none !important; }
	span.majorminor[data-value]:after{ content: attr(data-value); font-weight: bold; }
	.term:not(.credit){ border-left: 1px solid black !important; }
	.term.credit{ border-bottom: 5px solid #444 !important; }
	.year{ page-break-inside: avoid; border-top: 5px solid #444 !important; border-bottom: 5px solid #444 !important; }
	@page{ margin: 0.5cm; }
}
/*** End Print CSS ***/

/*** Begin Mobile CSS ***/
@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px){ 
	#leftbar{ position: absolute; }
}
/*** End Mobile CSS ***/

/*** IE7/8 CSS ***/
.lte8 #leftbar{ left: 0px; }
.ie7 #getnewclass{
	background-color: #E0E0E0 !important;
	border: 1px solid #5E5E5E !important;
	width: 240px !important;
	height: 133px !important;
	padding-top: 2px !important;
	overflow-y: scroll;
}
.ie7 #getnewclass > ul, .ie7 .ui-tabs .ui-tabs-nav, .ie7 .ui-tabs .ui-tabs-nav .ui-state-default{
	list-style-image: none;
	display: none;
}
.ie7 #getnewclass>div{
	display: inline-block !important;
	border: none !important;
	padding: 0px !important;
	background: none !important;
	height: auto !important;
}
.ie7 .getnewclasstypes.visible{ display: inline !important; }
.ie7 #mapcerts{ width: 200px !important; }
.lte8 .year.freshman, .lte8 .year.junior, .lte8 .year.supersenior{
	background-color: #eee;
}
.lte8 .yearname{
	left: 250px;
	width: auto;
	margin: 0px;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.lte8 .termname{
	left: 280px;
	width: auto;
	margin: 0px;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.lte8 .credit .termname{
	margin-left: -20px;
}
.lte8 .yearname span{
	margin-top: 0px;
}
.lte8 .termname span{
	margin-top: 0px;
}
/*** End IE CSS ***/