#leftbar{
	position: absolute;
}
#leftbar>div{
	position: initial;
}
#getnewclass, #overrider, #nowreading{
	display: none;
}
#COREchecker{
	display: block;
	height: auto;
}
#footer{
	display: none;
}